<header class="header">
    <div class="nav-container">
        <a href="/" class="logo">
            <img src="/images/logo-psicoimpulso.png" alt="Logo PsicoImpulso" style="height: 40px; vertical-align: middle; margin-right: 10px;">
            <span style="vertical-align: middle;">PsicoImpulso Laboral</span>
        </a>
        <nav class="nav-menu">
            <ul>
                {{- range .Site.Menus.main -}}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{- end -}}
            </ul>
        </nav>
    </div>
</header>
